<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497661674082-d395ngpdthjlr128eeecttf5hg26vt0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497661674082-d395ngpdthjlr128eeecttf5hg26vt0f</string>
	<key>API_KEY</key>
	<string>AIzaSyB5Z-1c3x-yIRHi4XDcADnx1LHvMfu-jzE</string>
	<key>GCM_SENDER_ID</key>
	<string>497661674082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseSample</string>
	<key>PROJECT_ID</key>
	<string>fir-sample-80266</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample-80266.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497661674082:ios:d07154eaf866ad3dfd073b</string>
	<key>DATABASE_URL</key>
	<string>https://fir-sample-80266-default-rtdb.firebaseio.com</string>
</dict>
</plist>